body{
    font-family: Nunito, sans-serif;
    color: #1c1c1c;
}

h1, h2, h3{
    font-family: Asap, sans-serif;
    color: #000000;
}

nav{
    display: flex;
    flex-direction: column;
    background-color: #131212e7;
}
nav > a{
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 800;
    font-size: 32px;
    font-family: Yellowtail, serif;
}

nav ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    padding: 0;
    width: 100%;
}

nav ul li{
    text-align: center;
    width: 100%;
}

nav ul li a{
    display: inline-block;
    padding: 10p 0;
    width: 100%;
    text-decoration: none;
    color: #FFFFFF;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2fc5c5;
}

header h1{
    color: #000000;
}

header p{
    margin-bottom: 2em;
}

#sobre{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px 10px 20px 20px;
    background-color: #2fc5c5;
    color: #000000;
}

#sobre h2{
    color: #000000;
}

#sobre p{
    margin-bottom: 2.5em;
    max-width: 1000px;
}

#projetos{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px 10px 20px 20px;
    background-color: #2fc5c5;
    color: #000000;
}

#projetos h2{
    color: #000000;
}

#projetos p{
    margin-bottom: 2.5em;
    max-width: 1000px;
}

#contatos{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px 10px 20px 20px;
    background-color: #2fc5c5;
    color: #000000;
}

#contatos h2{
    color: #000000;
}

footer{
    text-align: center;
    padding: 10px;
    background-color: #1c1c1c;
    color: #FFFFFF;
}

footer a{
    text-decoration: none;
    color: #FFFFFF;
}